
			.jssora02l, .jssora02r {
                display: block;
                position: absolute;
                /* size of arrow element */
                width: 55px;
                height: 55px;
                cursor: pointer;
                background: url(../img/a02.png) no-repeat;
                overflow: hidden;
            }
			.dfin {

                position: absolute;
                /* size of arrow element */
				top:60%;
				left:40%;
                width: 200px;
                height: 200px;
                cursor: pointer;
                background: url(../img/a02_ok.png) no-repeat;
                overflow: hidden;
            }
            .jssora02l { background-position: -3px -33px; }
            .jssora02r { background-position: -63px -33px;}
            .jssora02l:hover { background-position: -123px -33px; }
            .jssora02r:hover { background-position: -183px -33px; }
            .jssora02l.jssora02ldn { background-position: -3px -33px; }
            .jssora02r.jssora02rdn { background-position: -63px -33px; }
		
				
				
.top100
{
margin-top:100px;
}
/******Enquete css*******/
.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.nopading
{
padding:0px;
max-width:25px;
}


.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}


@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@font-face {
    font-family: "nulshock";
    src: url('nulshock bd.ttf');
}

.message
{
color: #333fqsf;
    font-family: "wf_SegoeUILight","wf_SegoeUILightEastEuro","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
	font: 150% "Segoe UI Light",Helvetica,Arial,sans-serif;
}
.nav, a
{
	font: 14px/16px "Helvetica Neue","Segoe UI Light",Helvetica,Arial,sans-serif;
	color:#b4d9e1;
}
select
{
color:#0b596c;
}

.com
{
width:60%;
height:500px;
}
.wcenter td{
    color: #333;
    font: 16px/26px "Segoe UI Light",Helvetica,Arial,sans-serif;
}

h3, .title3 {
    color: #333;
    font: 110% "Segoe UI Light",Helvetica,Arial,sans-serif;

}
h4, .title4 {
    color: #333;
    font: 15px/20px "Segoe UI Light",Helvetica,Arial,sans-serif;

}

.wtitle1 {
    color: #333;
    font: 36px/48px "Segoe UI Light",Helvetica,Arial,sans-serif;
}
.titre_tableau
{
	padding-top:100px;
	color: #438eb9;
    font: 36px nulshock,Arial,Helvetica,sans-serif ;
}
.wcenter input{padding-left:10px;padding-right:10px;}
/***************/

.suivi_heure:target {
   font-size:1.6em;
}
texft{display:none;}
body {background:#ff;text-align: center;font:14px "Century Gothic", Arial, Helvetica, sans-serif;color:black;margin:0;}

.wcenter
{
padding:100px;margin:5px;
text-align:left;
    font-family: "Segoe UI","Open Sans",serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
}


.poste{background:#06c2e3;width:100px; height:100px;border:2px solid gray;}
.notConnected {background:red;}
.plus1 {background:orange;}
.plus2 {background:#ffe380;}
.plus30 {background:#008900;}

.normal{background:#06c2e3;}
th{color:white;background:#307ecc;padding:10px;}
.ALMERYS_ERR_TYPE{display:none;}
.NIVEAU_A{color:red;}
.NIVEAU_B{color:blue;}
.NIVEAU_C{color:blue;}

.FAV_A{color:red;}
.FAV_B{color:green;}
.FAV_C{color:gray;}
.NON_FAV{color:black;}
					
					
.NIVEAU_D{color:green;}
.NIVEAU_E{color:green;}
.NIVEAU_F{color:black;}
.NIVEAU_G{color:black;}
#listePointage{width:100%;}
a.ri {float:right; padding:10px;margin:10px;}

.gray{color:bluegray;opacity:0.5;}
.grayLight{color:gray;}

.texte_bleu{color:#396697;font-weight:bold;}
.texte_vert{color:#70aa51;font-weight:bold;}
.texte_grenat{color:#c60000;font-weight:bold;}

.statistique {
    background: url("../img/3dreport.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    height: 30px;
    width: 30px;
}
#io_user
{
	position:fixed;
	top:5%;
	left:20%;
	background-color:bluegray;
	opacity: .4; filter:alpha(opacity=40); 
}
#io_user td,tr{margin:0px;padding:3px;}

.datecontent{height: 460px;}
#matriculeOP{font-family:  Helvetica, sans-serif; 
	font-size: 30px; text-align: center; color: #134f72; font-weight:bold;
	border: 1px solid #c5bb1d;

	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	

	width:200px;
	}

	
	#typePt{font-family:  Helvetica, sans-serif; 
	font-size: 30px; text-align: center; color: #134f72; font-weight:bold;
	border: 1px solid #9df0fc;

	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	

width:200px;
	}
#tb_dossier table{width:100%;border-collapse: collapse;}
#tb_dossier th{padding:15px;border:0px;font:18px;}
#tb_dossier td{padding:10px;border:0px;}


td[contentEditable] {
  cursor: pointer;
  --background-color: white;
    padding: .2em;
}
td[contentEditable]:focus {
  cursor: pointer;
  background-color: #D0D0D0;
    border: 1px solid red;
  padding: .2em;
}


	.matLabel
	{
		font-family:  Helvetica, sans-serif; 
	font-size: 30px; text-align: center; color: #134f72; font-weight:bold;
	}
.date {
	width: 300px; height: 130px; 
	background: #6fbf1c; 
	background: linear-gradient(top, #04aac3 0%,#02515d 100%); 
	background: -moz-linear-gradient(top, #04aac3 0%, #02515d 100%); 
	background: -webkit-linear-gradient(top, #b2e96b 0%,#b2e96b 100%); 
	border: 1px solid #04bedb;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	margin:10px;
	position:fixed;
	left:10px;
	float:left;	
	top:50px;
}

    /***FIRST STYLE THE BUTTON***/
    input#gobutton{
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    padding:5px 25px; /*add some padding to the inside of the button*/
    background:#038498; /*the colour of the button*/
    border:1px solid #6ae8fb; /*required or the default border for the browser will appear*/
    /*give the button curved corners, alter the size as required*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    /*style the text*/
    color:#f3f3f3;
    /*font-size:1.1em;*/
	font-size: 25px;
    }
    /***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
    input#gobutton:hover, input#gobutton:focus{
    background-color :#04bedb; /*make the background a little darker*/
    /*reduce the drop shadow size to give a pushed button effect*/
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
    }


	
.saisie_date{margin:10px;width:80%;height:100px;background:white;padding-top:30px;
background: -moz-linear-gradient(top, #04c4e3 0%, #8cf5f9 100%);
}
.date .p span {
	background: #c5bb1d; 
	background: linear-gradient(top, #6fbf1c 0%, #c5bb1d 100%);
	background: -moz-linear-gradient(top, #02515d 0%, #60e6fb 100%);
	background: -webkit-linear-gradient(top, #6fbf1c 0%, #c5bb1d 100%);
	font-size: 35px; font-weight: bold; color: #fff; text-transform: uppercase; 	
	display: block;
	border-top: 3px solid #dfdb2f;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	padding: 6px 0 6px 0;
}
.date .p {
	font-family: Helvetica, sans-serif; 
	font-size: 70px; text-align: center; color: #134f72; 
}
/*DEBUT POPUP*/



#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	padding: 20px;
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	/*
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--Coins arrondis en CSS3--*/
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
}
img.btn_close {
	float: right;
	width:50px;height:50px;
	margin: -30px -30px 0 0;
}
/*--Gérer la position fixed pour IE6--*/
*html #fade {
position: absolute;
}
*html .popup_block {
position: absolute;
}

/* jssor slider direction navigator skin 08 css */
            /*
            .jssorn08l              (normal)
            .jssorn08r              (normal)
            .jssorn08l:hover        (normal mouseover)
            .jssorn08r:hover        (normal mouseover)
            .jssorn08ldn            (mousedown)
            .jssorn08rdn            (mousedown)
            */
	.jssorn08l, .jssorn08r, .jssorn08ldn, .jssorn08rdn
	{
		position: absolute;
		cursor: pointer;
		display: block;
		
		overflow:hidden;
		opacity: .4; filter:alpha(opacity=40);
	}
	.jssorn08l { background-position: -5px -35px; }
	.jssorn08r { background-position: -65px -35px; }
	.jssorn08l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
	.jssorn08r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
	.jssorn08ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
	.jssorn08rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }

/*FIN JSSOR*/
.vertical-text {
	transform: rotate(90deg);
	height:200px;
	font: 15px/18px "Segoe UI Light",Helvetica,Arial,sans-serif;
}

.suiviHeure{display:none;}
.head{background:url("../img/bg_men.gif");}
.recherche{width:23px; height:23px;background:url("../img/find.png");margin-left:-5p; border:1px;}
.copy{width:23px; height:23px;background:url("../img/ok.png");margin-left:5px;border:1px;}
.edit{background:url("../img/edit.png") no-repeat; width:20px;}
.delete{background:url("../img/cl.png") no-repeat; width:20px; }
.rapport{border:2px solid gray;}
#ldtHead{background:url("../img/men_test.png"); height:50px;}
.tbHead{background:gray;}
input{margin-left:2px;margin-right:2px}
.hj{opacity: .80;}
.hp td{max-width:50px;}
.nopading
{
padding:0px;
width:20%;
}
.matricule{width:30%;max-width:300px;}
.hp{width:80%;}
.dp{width:100%;}
.je{width:520px;}
#hdp{width:90%;}
.men{background:url("../img/men_test.png");}
td{padding:10px;}
#name a{position:fixed; height:40px;color:white;}
thead{color:white;background:#307ecc;padding:10px;}

#menFilter{background:url("../img/menu_haut.png"); height:45px;color:white;width:80%;}
#dossEtape{width:150px;}

#optionsLot{position:fixed;}
#oContent{display:none;background:#efeeee;}
.btOption{width:100px; background: url("../img/bg_men.gif")}
#showHide{width:50px;height:33px;float:right;}
.consigne{font:24px fantasy,tahoma, Arial, Helvetica, sans-serif; color:#003399;}

#sh{width:50px;height:20px;background:url("../img/hide.png");display:none;}
#hd{width:50px;height:20px;background:url("../img/show.png");}
.lab{background:url("../img/men_test.png"); height:15px;}
.ldtlib{width:150px; word-wrap : break-word;}
#ldtIdProf{float:right; color:white;}
#choix{float:right;}
#ER{width:140px; float:right;}
#QT{width:140px; float:right;}
#matricule{width:70px;}
#Affecter{width:60px;}

.tb_header{background-color:  #ebf7fa;}
.tb_header tr{background-color:  #307ecc;color:#0b596c;}

.tb_header tr span{background-color:  #307ecc;color:white;}
.classe0{background:#e7fbfe;}
.classe1{background:#eff5fd;}
.classe2{background:white;}
.warning{background:#f1a2a2;opacity:0.6;}

.classe0_1{background:#effcfe;}
.classe1_1{background:#f2f7fd;}
.classe2_1{background:white;}

.classe0_2{background:#f3fdfe;}
.classe1_2{background:#f6f9fd;}
.classe2_2{background:white;}

marquee{color:gray;}

#lot{width:90%;}
.ldt_item{width:400px; }
label{margin-top:30px;}
.liste-lot{height:600px;}
.bt{background:url("../img/bg_men.gif");height:35px;width:200px; margin-top:40px;}

#head{background:#fff; height:30px;text-align:left;}
#minifoto{margin:0px;padding:0px;width:500px;*width:400px;height:100px;background:black;overflow:scroll;}
#tofo{margin:0px;padding:0px;width:500px;*width:400px;height:400px;background:black;text-align:center;overflow:scroll;}

#mcorps{margin-left:auto;margin-right:auto;min-width:98%; padding:0px;margin-top:1px;}
.menu_haut{background:#438eb9;}
#content{background:#ff;margin: 0px;height:100%;text-align:left;font:110%;padding-top:2%;padding-bottom:2%;}
#content_centre{width:90%;overflow:auto;margin:5px;margin-bottom:50px;}

#foot{background:#438eb9; color:#b4d9e1;height:30px;clear:both;text-align:right;font:Tahoma; padding-top: 5px;}

#fidirana{margin-top:10px;width:100%;text-align:left;background:url("../img/bg.gif") repeat-x;}

a{padding-left:5px;padding-right:5px;text-decoration:none;padding-bottom:15px;color:#293955;}
#en_tete {background:#5298c0; overflow:hidden;font:12px "Tahoma",helvetica,"bitstream vera sans",sans-serif bold; margin-right:20px;padding-left:15px;padding-right:15px;height:30px;float:right;}

#en_tete a{color:#ffffff;}
#corps{repeat-x; height:100%;overflow:auto;margin:3px;padding-top:-60px;}
#en_tete a:hover {background:#307ecc;}
.aClicked{background:url("../img/men_test.png");color:black;}
.logout{width:22px;height:22px; float:left;}
label {margin-top:20px;display:block;}
#listMess{text-align: left;overflow: auto;height:400px;width: 570px;border: 1px solid #dcf5f3;background-color: #ff01;color:gray;}
#framemessage{top:110px;overflow: auto;height:400px;width: 580px;border: 0px; position:absolute; padding: 0px; margin-top: 0px; margin-bottom: 0px; filter:alpha(opacity=70);}
#listUser{text-align: left;overflow: auto;height:400px;width: 100px;border: 1px solid #dcf5f3;background-color: #ff01;}
#welcom{text-align: center;font:72px nulshock, Arial, Helvetica, sans-serif bold;color:#438eb9;}
#formLogin{text-align: center;background:url("../img/bg.png") no-repeat; background-position:center bottom;background-size:40%;height:40%;padding:5%; opacity:0.9;}
#tab_login{background:url("../img/bgL.gif");border:1px solid gray; padding:2px;font:15px tahoma;display:none;opacity:0.96;}


#fermer{background: url("../img/cl.png") no-repeat ;width:20px;height:20px;}
.sel{width:180px;}
.mini{
	min-height:500px;
	}
#root{
	width: 350px;
	border: 1px solid black;
	display: none;
	position: fixed;
	background:#e7fbfe;
	height:auto;
	overflow: auto;
	margin-left: 250px;
	margin-top: 100px;
	opacity:0.96;
}
#handle{
	margin:0px;
	padding:0px;
	width:100%;
	height: 17px;
	background-color:#ffffff;
	cursor: pointer ;
}
#handleTtl{
	top:200px;
	color: #fff;
	font-weight:bold;
	font-size: 12px;
	height:30px;
	background-color:  #307ecc;
}

#fluxrss{float:left; width:350px;height:500px;position:absolute;overflow:hidden;color:#335c83;}
#menu_droiteE{width:10%;height:10%;position:fixed;left:90%;top:10%;}


/* =================================== MODAL CSS======================================== */
.loginmodal-container {
  padding: 30px;
  max-width: 450px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 
/*FIN MODAL CSS*/


.h3div {
	
}
.margin{
	
}

.mini>h3, mini>a {
	background-color: #f1fbfe;
    border-top: 1px solid #dce4fb;
    //height: 40px;
    padding: 20px;
}

.mini>h3>a {
font-size: 20px;
}

/* NEW MODAL */
.form-signin {
  max-width: 430px; 
  height: 290px;
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
	box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
}
.main{
	padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}

@font-face {
    font-family: secretCodeFont;
    src: url("css/secret_code/secrcode.ttf");
}

.heading-desc{
	font-size:20px;
	font-weight:bold;
	padding:38px 38px 0px 38px;
	font-family: secretCodeFont;
}


.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 0px;
  border-radius: 5px;
}
.form-signin input[type="password"] {
  margin-bottom: 0px;
  border-radius: 5px;
}
.input-group {
    margin-bottom: 15px;
}
.login-footer{
	background:#f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding:20px;
}
.login-footer .left-section a{
	font-weight:bold;
	line-height:19px;
}
.mg-btm{
	margin-bottom:20px;
}


.rouge
{background:#8a2be2;}