body {background:gray;text-align: center;font:10px tahoma, Arial, Helvetica, sans-serif;margin:0px;}
.table {background:#c9e9e5;font:10px tahoma, Arial, Helvetica, sans-serif;border:0px;}
.plan_site td{font:10px tahoma, Arial, Helvetica, sans-serif;border:0px;}
.allee{width:20px;height:30px;background:white;min-width:15px;}

.red_case {background-color:#26acde;width:100%;height:100%;text-align:center;border:1px solid gray;min-height:100px;}
.blue_case {background-color:#27f96e;width:100%;height:100%;text-align:center;border:1px solid gray;min-height:100px;}
.occuped{text-align: center;font:10px tahoma, Arial, Helvetica, sans-serif;padding-bottom:0px;}
.occuped:hover {background-color:#e7e7ff;width:100%;height:100%;}
.etat{width:8px;height:8px;padding-bottom:0px; border:1px solid gray;}
.normal{background-color:#36eca2}
.anomalie{background-color:#3bfbff;}
.deconnected{background-color:red;opacity: .2;}
.wrapup{background-color:red;}
span{padding-left:15px;}
.titre{font:26px tahoma, Arial, Helvetica, sans-serif;color:white;}
.wall_{width:50px;height:30px;background:black;min-width:15px;}

.empty{width:300px;height:30px; background:white;font:10px tahoma, Arial, Helvetica, sans-serif;}
#afficheur{text-align:center;background:url("img/bgL.gif");width:20%;height:100%;float:left;background-color:#bbe27c;margin-top:-20px;position:fixed;font:36px tahoma, Arial, Helvetica, sans-serif;font-weight:bold;color:#e7e7ff;padding:10px;display:none;}
#afficheur td{font:16px tahoma, Arial, Helvetica, sans-serif;color:gray;padding:5px;border:0px;}


input{display:none;}
.s1{background-color:#4eb7d4; border:1px solid gray;}
.s0,.s2,.s3,.s4,.s5,.s6,.s7{background-color:yellow; border:1px solid gray;}
a{text-decoration:none;padding-bottom:15px;color:white;}

